doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/style/style.css")
        title= title
    body 
        include _nav
        
        .container
            main#main
                section#images.images
                    .images__pri.images__pri--1
                        img(src=`${images[0].src}`, alt="car1")

                #ad
                    .main
                        .head
                            .head__intro
                                h1.ff-pri.fs-pri--1400.fw-pri--400.clr-pri--1000= title 
                                p.ff-sec.fw-pri--800.fs-pri--600.clr-pri--1000= seller

                            .head__text
                                p.ff-sec.fw-pri--400.fs-pri--600.clr-sec--400 Show contact
                                p.ff-sec.fw-pri--400.fs-pri--600.clr-sec--200 Start chat

                        .details
                            .details__bookmark
                                img(src="./assests/images/Group-4.svg", alt="bookmark")
        
                            .details__desc
                                p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200(class=`${!negotiable ? "hide": "show"}`) Negotiable
                                p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= location
                                p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= `${bookmarks} bookmarks`
                                p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= `${views} views`

                .specificationsPri
                    each spec in primary_specifications
                        .specificationsPri__icon
                            img(src=`./assests/images/icons/${spec.type}.svg`, alt=`${spec.value} logo`)
                            p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= spec.value
                    
                .specificationsSec
                    .specificationsSec__des(style="grid-area:intro")
                        h3.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600= specifications[0].value
                        p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= specifications[0].type
                    .specificationsSec__des(style="grid-area:m1")
                        h3.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600= specifications[1].value
                        p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= specifications[1].type
                    .specificationsSec__des(style="grid-area:s1")
                        h3.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600= specifications[2].value
                        p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= specifications[2].type
                    .specificationsSec__des(style="grid-area:f1")
                        h3.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600= specifications[3].value
                        p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= specifications[3].type
                    .specificationsSec__des(style="grid-area:f2")
                        h3.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600= specifications[4].value 
                        p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= specifications[4].type
                    .specificationsSec__des(style="grid-area:f3")
                        h3.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600= specifications[5].value 
                        p.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--200= specifications[5].type

                .description
                    p.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600= description

                .user
                    .user__intro
                        h1.ff-pri.fw-pri--1000.fs-pri--1400.clr-pri--1000 Muthaka Motors
                        p.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--400 trusted companion!

                    .user__photo
                        img(src="./images/aaron-huber/alexander-hipp.jpg", alt="alexander hipp")

                    .user__social
                        p.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--400 Connect with us
                        address 
                            each social in sellersDetails.socials
                                .user__social--link
                                    a(href=`${social.image}`)
                                        img(src=`./assests/images/socials/${social.image}.svg`, alt=`${social.image} logo`)
                            
                .user__address
                    address 
                        .user__address--img
                            img(src=`./assests/images/icons/phone.svg`, alt="phone call")
                        .user__stack
                            a.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600#userPhone(href="tel:+254795263459") 0795 263459
                            a.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600#userPhone(href="tel:+254795263459") 0795 263459
                    address 
                        .user__address--img
                            img(src=`./assests/images/icons/location.svg`, alt="location")
                        .user__stack
                            h3.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600#userLocation View sellers location
                    
                    address 
                        .user__address--img
                            img(src=`./assests/images/icons/email.svg`, alt="email icon")
                        a.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--600(href="mailto:motors@gmail.com") motors@gmail.com 
                    
                .user__location
                     #map(data-locations=`${JSON.stringify(sellersDetails.location_address)}`)

            .sidebar
                .sidebar__content
                    .images__sec
                        .images__sec--mask
                            span.images__sec--text 
                                h2.ff-sec.fw-pri--200.fs-pri--1200.clr-pri--1000= price 
                                p.ff-sec.fw-pri--800.fs-pri--600.clr-pri--1000 Request a call
                            .images__sec--2
                                img(src=`${images[1].src}`, alt="car3")
                        .images__sec--1
                            img(src=`${images[2].src}`, alt="car2")
                        .images__sec--3
                            img(src=`${images[3].src}`, alt="car4")
                        .images__sec--mask
                            span.images__sec--text 
                                h1.ff-sec.fw-pri--1000.fs-pri--1400.clr-pri--1000 7+ Images 
                            .images__sec--4
                               img(src=`${images[4].src}`, alt="car3")
                    section#safety_tips
                        h2.clr-pri--1000.fw-pri--800.ff-sec.fs-pri--800 Safety tips

                        ul
                            li.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--200 Avoid sending any prepayments
                            li.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--200 Meet with the seller at a safe public place
                            li.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--200 Inspect what you're going to buy to make sure it's what you need
                            li.clr-pri--1000.fw-pri--200.ff-sec.fs-pri--200 Check all the docs and only pay if you're satisfied

                        .btn
                            button.btn__st--ctaPri.bdg-sec--400#markUnavailable
                                p.clr-pri--200.fw-pri--200.ff-sec.fs-pri--200 Mark unavailable
                            button.btn__st--ctaSec.bdg-pri--200#reportAbuse
                                p.clr-sec--400.fw-pri--200.ff-sec.fs-pri--200 Report Abuse
                            button.btn__st--ctaTer.bdg-pri--1000
                                p.clr-pri--200.fw-pri--200.ff-sec.fs-pri--200 Show contact

        //- .popup 
        //-     <svg id="prev" xmlns="http://www.w3.org/2000/svg" width="4.6rem" height="4.6rem" viewBox="0 0 24 24"><path fill="#FFB162" d="m4.431 12.822l13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645"/></svg>
        //-         .popup__content
        //-             .popup__content--imgMain
        //-                 .popup__content--slider
        //-                     each image, i in images
        //-                         .popup__content--sliders
        //-                             .numberText= `${i + 1} / ${images.length}` 
        //-                             img.popup__content--img(src=`${image.src}`, alt="car")
        //-                 .thumbnail
        //-                     each image, i in images 
        //-                         .thumbnail__content(style=`width: ${Math.floor(100/images.length)}%;`)
        //-                             img.thumbnail__content--img(src=`${image.src}`, alt="car", id=`${i + 1}`)
        //-     <svg id="next" xmlns="http://www.w3.org/2000/svg" width="4.6rem" height="4.6rem" viewBox="0 0 24 24"><path fill="#FFB162" d="M5.536 21.886a1 1 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886"/></svg>

        script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js", integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=", crossorigin)
        script(type="module", src="/dist/index.js")